.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 10px;
}

.pagination-btn {
  padding: 6px 12px;
  border: 0;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.pagination-btn:hover:not(:disabled) {
  background: #045ffc;
}

.pagination-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-btn.active {
  background: #070082;
  color: white;
  border-color: #070082;
}

.pagination-ellipsis {
  padding: 6px 10px;
  color: #666;
}